{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
{% with title="Wiki" %}
{{ block.super }}
{% endwith %}
{% endblock %}

{% block content %}
<section>

    {% if wiki_list %}

    <div class="grid-x">


        <div class="cell large-6 large-offset-3 content">
            <div class="grid-x grid-padding-x">

                {% for entry in wiki_list %}
                <div class="cell cell-background-lg vertical-space" id="item_{{entry.id}}" name="item_{{entry.id}}">
                    <section>
                        <h2>{{entry.wikiTitle}}</h2>
                        <p>{{entry.wikiText|safe}}</p>
                    </section>

                    {% if entry.wikiexample_set.all %}

                    <div class="grid-x grid-margin-x grid-padding-x vertical-space-bottom-small">
                        <div class="cell">
                            <div class="grid-x">
                                {% for example in entry.getPositiveExamples %}
                                <div class="cell vertical-space-small">
                                    <div class="callout success example-callout">
                                        <h3>{{example.exampleTitle}}</h3>
                                        <img class="example-image" src="{% static 'images/examples/' %}{{example.exampleImage}}" alt="{{example.exampleImageAlt}}">
                                        <p>{{example.exampleText|safe}}</p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="cell">
                            <div class="grid-x">
                                {% for example in entry.getNegativeExamples %}
                                <div class="cell vertical-space-small">
                                    <div class="callout alert example-callout">
                                        <h3>{{example.exampleTitle}}</h3>
                                        <img class="example-image" src="{% static 'images/examples/' %}{{example.exampleImage}}" alt="{{example.exampleImageAlt}}">
                                        <p>{{example.exampleText}}</p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <a class="link" href="#wiki-navigation"><button class="button hollow">nach oben</button></a>
                </div>

                {% endfor %}
            </div>
        </div>

        <div class="cell large-2 large-offset-1 cell-background-wiki-mg wiki-navigation">
            <section>
                <div name="wiki-navigation" id="wiki-navigation" class="text-center">
                    <h4>Inhalt</h4>
                </div>
                <ul class="vertical menu">
                    {% for entry in wiki_list %}
                    <li>
                        <a class="wiki-navigation-link" href="#item_{{entry.id}}">{{entry.wikiTitle}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </section>
        </div>

    </div>
    {% endif %}
</section>
{% endblock %}
