{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
{% with title="Startseite" %}
{{ block.super }}
{% endwith %}
{% endblock %}

{% block content %}
<section>
    <div class="banner">
        <img src="{% static 'images/inclusion_no_background.png' %}" alt="Banner Bild - zeigt Sillhouetten mehrerer Menschen verschiedener alters Gruppen mit und ohne Behinderung.">
    </div>
</section>
<section>
    <div class="grid-container vertical-space padding-bottom">
        <div class="grid-x grid-padding-x">
            <div class="cell cell-background-lg">
                <section>
                    <h2>Worum geht es?</h2>
                    <p>
                    Niemandem soll das Teilhaben am allt&auml;glichen Leben durch
                    Barrieren verwehrt werden. Wie im Grundgesetz steht
                    (Artikel 3, Absatz 3) „Niemand darf wegen seiner Behinderung
                    benachteiligt werden.“
                    </p>
                    <p>
                    Barrierefreiheit hat f&uuml;r alle einen Nutzen, nicht nur f&uuml;r
                    Menschen mit Behinderung, sondern auch Senioren oder Menschen,
                    die nur vor&uuml;bergehend eine Einschr&auml;nkung haben. Zum Beispiel
                    hilft ein Aufzug Eltern mit Kinderwagen, jemandem mit
                    gebrochenem Bein oder einem &auml;lteren Menschen, der nicht mehr
                    gut zu Fu&szlig; unterwegs ist. Alter und Behinderungen gehen oft
                    einher: ca. ein Viertel der Menschen mit Schwerbehinderung ist
                    75 Jahre und &auml;lter, die H&auml;lfte ist zwischen 55 und 75 Jahren
                    alt. Die durchschnittliche Lebenserwartung steigt – ein Grund
                    mehr, sich f&uuml;r ein Leben ohne Barrieren einzusetzen!
                    </p>
                </section>
            </div>
            <div class="cell cell-background-lg vertical-space">
                <section>
                    <h2>Was ist Barrierefreiheit?</h2>
                    <p>
                    Wenn man auf das Wort Barrierefreiheit st&ouml;&szlig;t, denkt man zuerst
                    an Aufz&uuml;ge statt Treppen, breite T&uuml;ren und sonstige bauliche
                    Ver&auml;nderungen im Alltag. Das stimmt auch. Barrierefreiheit
                    bedeutet, dass Geb&auml;ude, &ouml;ffentliche Pl&auml;tze, Verkehrsmittel und
                    vieles mehr, so gestaltet werden, dass sie f&uuml;r alle zug&auml;nglich
                    sind, ohne, dass man auf Hilfe von einer anderen Person
                    angewiesen ist.
                    </p>
                    <a href="/about/#barrierefreiheit"><button class="hollow button">Mehr erfahren</button></a>
                </section>
            </div>
        </div>
        <div class="grid-x grid-margin-x vertical-space">
            <div class="cell large-6 cell-background-lg">
                <section>
                    <h3>Was ist eine barrierefreie App?</h3>
                    <p>
                    Eine barrierefreie App ist ganz allgemein eine Applikation,
                    die f&uuml;r jeglichen Menschen zug&auml;nglich und nutzbar ist. Es
                    geht also nicht darum eine spezielle App f&uuml;r behinderte
                    Personen zu konstruieren, wie zum Beispiel eine Lese-App
                    f&uuml;r Blinde, sondern ganz einfach darum jede Art von
                    Applikation f&uuml;r jeden bedienbar zu gestalten.<br>
                    Dabei denkt man nat&uuml;rlich erst einmal an Sehbehinderte oder
                    Geh&ouml;rgesch&auml;digte, aber auch motorisch oder kognitiv
                    eingeschr&auml;nkte Menschen, sowie ganz einfach Leute, die
                    nicht mit diesem Programm vertraut sind, haben besondere
                    Bed&uuml;rfnisse, wenn es um die Nutzung von Apps geht.
                    Diese reichen von der Gr&ouml;&szlig;e der Buttons, &uuml;ber das richtige
                    Farbschema, bis hin zu einer geeigneten Schriftart oder
                    einer erh&ouml;hten Fehlertoleranz.
                    </p>
                    <a href="/about/#app"><button class="hollow button">Mehr erfahren</button></a>
                </section>
            </div>
            <div class="cell large-6 cell-background-lg">
                <section>
                    <h3>Wie mache ich eine barrierefreie App?</h3>
                    <p>
                    Wir bieten diverse Resourcen und Guidelines zum Erstellen
                    einer barrierefreien App.<br>
                    Das Wiki beschreibt allgemeine und App spezifische Guidelines
                    f&uuml;r Entwickler und erl&auml;tert diese anhand von
                    ausgew&auml;ten Beispielen.<br>
                    Die interaktive Checkliste soll Entwicklern dabei helfen,
                    w&auml;hrend der Entwicklung die von uns empfohlenen
                    Richtlinien effektiv umzusetzen.
                    </p>
                    <a href="/checklist/"><button class="hollow button">Zur Checkliste</button></a>
                    <a href="/wiki/"><button class="hollow button">Zum Wiki</button></a>
                </section>
            </div>
        </div>
    </div>

</section>

{% endblock %}

