{% extends "base.html" %}

{% block title %}
{% with title="Checkliste" %}
{{ block.super }}
{% endwith %}
{% endblock %}

{% block content %}
<section>
    {% if checklist %}
    <div class="grid-x grid-padding-x">

        <div class="cell large-offset-3 large-6 content vertical-space">
            <section>
            <h1>Checkliste</h1>
            <p>
            Die Checkliste dient der Selbstkontrolle zur Einhaltung der
            Barrierefreiheit.<br>
            Die Liste ist als Leitfaden w&auml;hrend der Entwicklung gedacht
            und beinhaltet von uns als besonders wichtig befundene und
            empfohlene Richtlinien.
            </p>
            <p>
            Ist eine Richtlinie implementiert, kann diese durch Verwendung des
            roten "Offen" Buttons auf abgeschlossen gesetzt werden. Sollte
            eine Richtlinie noch nicht vollst&auml;ndig implementiert sein,
            oder bedarf weiterer Arbeit, kann dieser Schritt mit Hilfe des nun
            gr&uuml;nen "Abgeschlossen" Buttons wieder r&uuml;ckg&auml;ngig
            gemacht werden.<br>
            Abgeschlossene Richtlinien werden im Local Storage des Browsers
            gespeichert, es kann also der Tab, oder Browser, ohne bedenken
            geschlossen werden. Beim erneuten Aufruf der Seite, werden diese
            Richtlinien automatisch auf "Abgeschlossen" gesetzt.
            </p>
            </section>
            <div id='checklist' class="grid-x grid-padding-x grid-padding-y grid-margin-y">
                {% for category in checklist %}
                <div class="cell cell-background-lg">
                    <div class="grid-x grid-padding-x">
                        <div class="cell" id="category_{{category.id}}" name="category_{{category.id}}">
                            <h2>{{category.categoryTitle}}</h2>
                            {% if category.wikiEntry.id %}
                            <a class="link" href="{% url 'wiki:index' %}#item_{{category.wikiEntry.id}}"><button class="hollow button">Wiki</button></a>
                            {% endif %}
                        </div>
                        {% for entry in category.getEntries %}
                        <div class="cell vertical-space-bottom-small" id="entry_{{entry.id}}" name="entry_{{entry.id}}">
                            <button class="button small alert checklist-entry" onclick="checkListToggle(this, {{entry.id}})">Offen
                            </button>
                            <h3 class="checklist-entry checklist-title">
                                {{entry.checkListEntryTitle}}
                                {% if entry.wikiEntry.id %}&nbsp;
                                <a class="link" href="{% url 'wiki:index' %}#item_{{entry.wikiEntry.id}}">&lt;Wiki&gt;</a>
                                {% endif %}
                            </h3>
                            <p>
                            {{entry.checkListEntryDescription}}
                            </p>
                        </div>
                        {% endfor %}
                        <div class="cell back-button">
                            <a class="link" href="#checklist-navigation"><button class="button hollow">nach oben</button></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="cell large-2 large-offset-1 cell-background-wiki-mg wiki-navigation">
            <section>
                <div name="checklist-navigation" id="checklist-navigation" class="text-center">
                    <h4>Inhalt</h4>
                </div>
                <ul class="vertical menu">
                    {% for category in checklist %}
                    <li>
                        <a class="wiki-navigation-link" href="#category_{{category.id}}">{{category.categoryTitle}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </section>
        </div>

    </div>
    {% else %}
    <p>Keine Eintraege gefunden</p>

    {% endif %}
</section>
{% endblock %}

