<!DOCTYPE html>
<html class="no-js" lang="de">
    <head>
        {% load staticfiles %}
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% block title %}
        <title>{{title}} - Barrierefreie App</title>
        {% endblock %}
        <link rel="stylesheet" href="{% static 'css/app.css' %}" />
    </head>
    <body>
        <div class="main">
            {% block header %}{% endblock %}
            {% block navigation %}
            <section>
                <div class="top-bar">
                    <div class="top-bar-left">
                        <span class="banner-title">Webportal - ergonomische, mobile Anwendungen</span>
                    </div>
                    <div class="top-bar-right">
                        <nav>
                            <ul class="menu align-right middle">
                                <li class="menu-border-left"><a href="/welcome/">Start</a></li>
                                <li class="menu-border-left"><a href="/about/">Infos</a></li>
                                <li class="menu-border-left"><a href="/checklist/">Checkliste</a></li>
                                <li class="menu-border-left"><a href="/wiki/">Wiki</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </section>
            {% endblock %}
            {% block content %}{% endblock %}

            {% block footer %}
            <section>
                <div class="footer cell-background-mg">
                    <ul class="menu middle">
                        <li>
                            <a class="link" href="/about/impressum/">Impressum</a>
                        </li>
                    </ul>
                </div>
            </section>
            {% endblock %}
        </div>

        <script src="{% static 'node_modules/jquery/dist/jquery.js' %}"></script>
        <script src="{% static 'node_modules/what-input/dist/what-input.js' %}"></script>
        <script src="{% static 'node_modules/foundation-sites/dist/js/foundation.js' %}"></script>
        <script src="{% static 'js/app.js' %}"></script>
    </body>
</html>
