{% load staticfiles %}
    <h1>FOOTER</h1>

    <script src="{% static 'project/node_modules/jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'project/node_modules/what-input/dist/what-input.js' %}"></script>
    <script src="{% static 'project/node_modules/foundation-sites/dist/js/foundation.js' %}"></script>
    <script src="{% static 'project/js/app.js' %}"></script>
  </body>
</html>
