$light-gray: #fbfbfb;
$medium-gray: #cacaca;
$medium-gray-wiki: #f7f7f7;
$dark-gray: #8a8a8a;
$black: #0a0a0a;
$white: #fefefe;

$dark-blue: #23405a;

.text-color-primary {
    color: $dark-blue;
}

.cell-background-lg {
    background-color: $light-gray;
}
.cell-background-mg {
    background-color: $medium-gray;
}
.cell-background-wiki-mg {
    background-color: $medium-gray-wiki;
}
.cell-background-dg {
    background-color: $dark-gray;
}
.cell-background-black {
    background-color: $black;
}
.cell-background-white {
    background-color: $white;
}

.vertical-space {
    margin-top: 40px;
}

.vertical-space-bottom-small {
    margin-bottom: 15px;
}

.vertical-space-bottom {
    margin-bottom: 40px;
}

.vertical-space-small {
    margin-top: 20px;
}

.link {
    color: $primary-color;
}

.link:hover {
    color: scale-color($primary-color, $lightness: -20%);
}

.menu .menu-text{
    padding: 0;
}

.menu-border-left {
    color: black;
    border-left: 1px solid $dark-gray;
}

.top-bar {
    padding: 0.7rem;
}

.wiki-navigation {
    border-right: 1px solid #efefef;
    padding: 25px;
}

.wiki-navigation-link {
    color: #444444;
    font-weight: bold;
}

.wiki-navigation-link:hover {
    color: scale-color(#444444, $lightness: -100%);
}

.footer {
    border-top: 1px solid $dark-gray;
    bottom: 0;
    width: 100%;
    position: absolute;
}

html, body {
    height: 100%;
}

.main {
    min-height:100%;
    position: relative;
}

.wiki-main {
    padding-bottom: 0;
}

.banner {
    text-align: center;
    height: 15rem;
    background-color: lightgray;
    border-top: 1px solid $dark-gray;
    border-bottom: 1px solid $dark-gray;

    img {
        height: 100%;
    }
}

.example-image {
    width: 25%;
    float: left;
    margin-right: 15px;
}

.example-callout {
    height:100%;
    padding-bottom: 10px;
    float: left;
}

.content {
    margin-bottom: 6rem;
}

.padding-bottom {
    padding-bottom: 4rem;
}

.banner-title {
    font-size:100%;
    color: white;
    line-height: 1;
    text-decoration: none;
    display: block;
    padding: 0.7rem 1rem;
    font-weight: bold;
}

.checklist-entry {
    font-size: 1.2rem;
    font-weight: bold;
}

.checklist-title {
    font-size: 1.2rem;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem 0;
    padding: 0.85em 1em;
    border-radius: 0;
    line-height: 1;
    text-align: center;
    padding-left: 5px;
}

.back-button {
    margin-top: -15px;
}

#checklist {
    h2 {
        font-size: 2.2rem;
        margin-bottom: 15px;
        display: inline-block;
        margin-right: 15px;
    }

    p {
        margin-top: -15px;
    }
}
