{% extends "base.html" %}

{% block title %}
{% with title="Impressum" %}
{{block.super}}
{% endwith %}
{% endblock %}

{% block content %}

<div class="grid-container">
	<div class="grid-x cell-background-lg">
		<div class="cell vertical-space">
			<h1>Impressum</h1>
		</div>
		<div class="cell">
			<ul class='no-bullet'>
				<li>Technische Hochschule Mittelhessen</li>
				<li>Wilhelm-Leuschner-Straﬂe 13</li>
				<li>61169 Friedberg (Hessen)</li>
				<li>Telefon: 06031 6040</li>
				<li>E-Mail: marc.ackermann@iem.thm.de</li>
			</ul>
		</div>
		<div class="cell">
			<ul class='no-bullet'>
				<li>Vertreten durch die Studierenden:</li>
				<li>Dennis Appel</li>
				<li>Marc Ackermann</li>
				<li>Selina G&ouml;rnert</li>
				<li>Jan Ilge</li>
			</ul>

		</div>
		<div class="cell">
			<h2>Rechtliche Hinweise</h2>
			<h3>&sect; 1 Inhaltliche Warnhinweise</h3>
			<p>
			Die kostenlosen und frei zug&auml;nglichen Informationen dieser Webportals wurden mit großm&ouml;glichster Sorgfalt erstellt. Es wird jedoch keine Gewahr f&uuml;r die Richtigkeit und Aktualit&auml;t der bereitgestellten kostenlosen und frei zug&auml;nglichen Eintr&auml;ge und Beispielen. Namentlich gekennzeichnete Beitr&auml;ge geben die Meinung des jeweiligen Autors und nicht immer die Meinung des Anbieters wieder.
			Allein durch den Aufruf der kostenlosen und frei zug&auml;nglichen Inhalte kommt keinerlei Vertragsverh&auml;ltnis zwischen dem Nutzer und dem Anbieter zustande, insoweit fehlt es am Rechtbindungswillen des Anbieters.
			</p>
			<h3>&sect; 2 Urheber- und Leistungsschutzrechte</h3>
			<p>
			Die auf diesem Webportal ver&ouml;ffentlichen Inhalte unterliegen dem deutschen Urheber- und Leistungsschutzrecht. Jede davon nicht zugelassene Verwertung bedarf der vorherigen schriftlichen Zustimmung des Anbieters. Dies gilt insbesondere f&uuml;r Vervielf&auml;ltigung, Bearbeitung, &Uuml;bersetzung, Einspeicherung und Verarbeitung. Die unerlaubte Vervielf&auml;ltigung oder Weitergabe kompletter Seiten ist nicht gestattet und strafbar.
			</p>
		</div>
		<div class="cell vertical-space-bottom">
			<h2>Quellen</h2>
			<ul>
				<li>
					<a class="link" href="https://pixabay.com/de/inklusion-gruppe-rollstuhl-2731343/">https://pixabay.com/de/inklusion-gruppe-rollstuhl-2731343/</a>
				</li>
				<li>
					<a class="link" href="https://www.w3.org/Translations/WCAG20-de/">https://www.w3.org/Translations/WCAG20-de/</a>
				</li>
				<li>
					<a class="link" href="https://www.funkschau.de/mobile-solutions/artikel/144958/">https://www.funkschau.de/mobile-solutions/artikel/144958/</a>
				</li>
				<li>
					<a class="link" href="https://www.youbility.de/blog/das-internet-ist-fur-alle-da-checkliste-zur-barrierefreiheit-von-webanwendungen/">https://www.youbility.de/blog/das-internet-ist-fur-alle-da-checkliste-zur-barrierefreiheit-von-webanwendungen/</a>
				</li>
				<li>
					<a class="link" href="http://www.leserlich.info/index.php">http://www.leserlich.info/index.php</a>
				</li>
				<li>
					<a class="link" href="https://www.barrierefreies-webdesign.de/richtlinien/wcag-2.0-deutsch-englisch/konformitaetsstufe.html">https://www.barrierefreies-webdesign.de/richtlinien/wcag-2.0-deutsch-englisch/konformitaetsstufe.html</a>
				</li>
				<li>
					<a class="link" href="https://www.bitfactory.io/de/blog/barrierefreie-apps/">https://www.bitfactory.io/de/blog/barrierefreie-apps/</a>
				</li>
				<li>
					<a class="link" href="https://www.marlem-software.de/marlemblog/2013/06/11/richtlinien-zur-barrierefreien-software-entwicklung-fur-java-von-ibm/">https://www.marlem-software.de/marlemblog/2013/06/11/richtlinien-zur-barrierefreien-software-entwicklung-fur-java-von-ibm/<Paste></a>
				</li>
				<li>
					<a class="link" href="http://www.di-ji.de">http://www.di-ji.de</a>
				</li>
				<li>
					<a class="link" href="https://www.einfach-fuer-alle.de/blog/id/2792/ ">https://www.einfach-fuer-alle.de/blog/id/2792/ </a>
				</li>
				<li>
					<a class="link" href="https://www.bundesfachstelle-barrierefreiheit.de/DE/Praxishilfen/Informationstechnik/Barrierefreie-Apps/barrierefreie-apps_node.html">https://www.bundesfachstelle-barrierefreiheit.de/DE/Praxishilfen/Informationstechnik/Barrierefreie-Apps/barrierefreie-apps_node.html</a>
				</li>
				<li>
					<a class="link" href="https://www.pctipp.ch/tipps-tricks/kummerkasten/multimedia/artikel/farben-fuer-farbenblinde-auswaehlen-81076/">https://www.pctipp.ch/tipps-tricks/kummerkasten/multimedia/artikel/farben-fuer-farbenblinde-auswaehlen-81076/</a>
				</li>
				<li>
					<a class="link" href="https://www.mytherapyapp.com/de/blog/barrierefreie-apps-technik">https://www.mytherapyapp.com/de/blog/barrierefreie-apps-technik</a>
				</li>
				<li>
					<a class="link" href="https://www.apple.com/de/accessibility/">https://www.apple.com/de/accessibility/</a>
				</li>
				<li>
					<a class="link" href="https://developer.apple.com/design/human-interface-guidelines/ios/overview/themes/">https://developer.apple.com/design/human-interface-guidelines/ios/overview/themes/</a>
				</li>
				<li>
					<a class="link" href="https://developer.android.com/guide/topics/ui/accessibility/">https://developer.android.com/guide/topics/ui/accessibility/</a>
				</li>
			</ul>
		</div>
	</div>
</div>

{% endblock %}
