{% extends "base.html" %}

{% block title %}
{% with title="Infos" %}
{{ block.super }}
{% endwith %}
{% endblock %}

{% block content %}
<div class="grid-container padding-bottom">
    <div class="grid-x">
        <div name="barrierefreiheit" id="barrierefreiheit" class="cell cell-background-lg vertical-space">
            <section>
                <h1>Was ist Barrierefreiheit?</h1>
                <p>
                Wenn man auf das Wort Barrierefreiheit st&ouml;&szlig;t, denkt
                man zuerst an Aufz&uuml;ge statt Treppen, breite T&uuml;ren und
                sonstige bauliche Ver&auml;nderungen im Alltag. Das stimmt auch.
                Barrierefreiheit bedeutet, dass Geb&auml;ude, &ouml;ffentliche
                Pl&auml;tze, Verkehrsmittel und vieles mehr, so gestaltet werden,
                dass sie f&uuml;r alle zug&auml;nglich sind, ohne, dass man auf a
                Hilfe von einer anderen Person angewiesen ist.<br>
                Hinter Barrierefreiheit steckt aber noch viel mehr. Texte sollten
                beispielsweise in einer einfach verst&auml;ndlichen Sprache
                formuliert sein und vielleicht noch mit Bildern untermauert werden,
                damit Menschen mit Lernschwierigkeiten diese auch verstehen k&ouml;nnen.
                Geh&ouml;rlose Menschen sollten Vortr&auml;ge verfolgen k&ouml;nnen,
                zum Beispiel mit Hilfe eines Geb&auml;rdendolmetschers oder
                Untertiteln, falls es sich um ein Video handelt. Barrierefreiheit
                ber&uuml;cksichtigt also menschliche F&auml;higkeiten in allen
                Auspr&auml;gungen.
                </p>
                <p>
                Am 1. Mai 2002 trat das Gesetz zur Gleichstellung von Menschen
                mit Behinderungen (BGG) in Kraft.<br>
                Barrierefreiheit wird in &sect; 4 BGG wie folgt definiert:
                <blockquote>
                    „Barrierefrei sind bauliche und sonstige Anlagen,
                    Verkehrsmittel, technische Gebrauchsgegenst&auml;nde,
                    Systeme der Informationsverarbeitung, akustische und visuelle
                    Informationsquellen und Kommunikationseinrichtungen sowie andere
                    gestaltete Lebensbereiche, wenn sie f&uuml;r Menschen mit
                    Behinderungen in der allgemein &uuml;blichen Weise, ohne
                    besondere Erschwernis und grunds&auml;tzlich ohne fremde
                    Hilfe auffindbar, zug&auml;nglich und nutzbar sind. Hierbei
                    ist die Nutzung behinderungsbedingt notwendiger Hilfsmittel
                    zul&auml;ssig.“
                </blockquote>
                Aber dann gibt es nat&uuml;rlich noch die digitale Barrierefreiheit.
                Das bedeutet, Internetseiten und Apps m&uuml;ssen so gestaltet
                sein, dass jeder sie nutzen kann. Und wie das funktioniert und
                was alles dazu geh&ouml;rt, wollen wir in diesem Infoportal
                erkl&auml;ren.
                </p>
            </section>
        </div>
        <div name="app" id="app" class="cell cell-background-lg vertical-space">
            <section>
                <h1>Wozu Barrierefreiheit?</h1>
                <p>
                Niemandem soll das Teilhaben am allt&auml;glichen Leben durch
                Barrieren verwehrt werden. Wie im Grundgesetz steht (Artikel 3,
                Absatz 3) „Niemand darf wegen seiner Behinderung benachteiligt
                werden.“<br>
                Barrierefreiheit hat f&uuml;r alle einen Nutzen, nicht nur f&uuml;r
                Menschen mit Behinderung, sondern auch Senioren oder Menschen,
                die nur vor&uuml;bergehend eine Einschr&auml;nkung haben. Zum Beispiel
                hilft ein Aufzug Eltern mit Kinderwagen, jemandem mit
                gebrochenem Bein oder einem &auml;lteren Menschen, der nicht mehr
                gut zu Fu&szlig; unterwegs ist. Alter und Behinderungen gehen oft
                einher: ca. ein Viertel der Menschen mit Schwerbehinderung ist
                75 Jahre und &auml;lter, die H&auml;lfte ist zwischen 55 und 75 Jahren
                alt. Die durchschnittliche Lebenserwartung steigt – ein Grund
                mehr, sich f&uuml;r ein Leben ohne Barrieren einzusetzen!
                </p>
            </section>
        </div>
    </div>
</div>
{% endblock %}
